<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <style>
    table, th, td {
      border: 1px solid black;
      padding: 5px;
    }
    table {
      border-spacing: 15px;
    }
    </style>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>
<table>
    <tr>
        <th>Date</th><th>Name</th><th>Score</th><th>WUs</th><th>Rank</th>
    </tr>
    <% results.forEach(function(r) { %>
    <tr>
        <td><%= r.date.getFullYear() %>-<%= r.date.getMonth() + 1 %>-<%= r.date.getDate() %></td>
        <td><%= r.name %></td>
        <td><%= r.score %></td>
        <td><%= r.wus %></td>
        <td><%= r.rank %></td>
    </tr>
    <% }); %>
</table>

</div>

</body>
</html>
